/* HEADER CSS */

.header {
  position: fixed;
  top: 0;
  left: 0;
  padding: 1.4em 3em 0.6em 2.6em;
  background-color: rgb(55, 55, 55);
  width: 100%;
}

.nav-list li {
  list-style-type: none;
}

.navlink {
  color: rgb(255, 255, 255);
  padding-right: 5em;
  list-style-type: none;
  font-weight: 600;
  transition: 0.2s;
}

.navlink:hover {
  color: rgb(203, 203, 203);
  text-decoration: none;
}
